<main class="container">
  <form action="/job-vacancies/edit/{{vacancy.url}}" method="POST" class="default-form">
    <h3>General Information</h3>
    <div class="field">
      <label>Title</label>
      <input 
        type="text" 
        name="title" 
        placeholder="e.g. ReactJS Developer" 
        value="{{vacancy.title}}" 
        required
      >
    </div>
    <div class="field">
      <label>Company</label>
      <input 
        type="text" 
        name="company" 
        placeholder="Company Name" 
        value="{{vacancy.company}}" 
        required
      >
    </div>
    <div class="field">
      <label>Location</label>
      <input 
        type="text" 
        name="location" 
        placeholder="e.g. United States" 
        value="{{vacancy.location}}" 
        required
      >
    </div>
    <div class="field">
      <label>Salary</label>
      <input 
        type="text" 
        name="salary" 
        placeholder="e.g. 150.000 USD" 
        value="{{vacancy.salary}}"  
        required
      >
    </div>

    <div class="field">
      <label>Contract</label>
      <select name="contract">
        {{#contractType vacancy.contract}}
          <option value="" disabled selected>Select</option>
          <option value="Freelance">Freelance</option>
          <option value="Full Time">Full Time</option>
          <option value="Part Time">Part Time</option>
          <option value="Remote">Remote</option>
        {{/contractType}}
      </select>
    </div>

    <h3>Job Description</h3>

    <div class="field description">
      <label>Description</label>
      <input type="hidden" id="x" value="{{{vacancy.description}}}" name="description">
      <trix-editor input="x"></trix-editor>
    </div>

    <h3>Add Skills</h3>
    <ul class="skill-set">
      {{#selectSkills vacancy.skills}}
      {{/selectSkills}}
    </ul>

    <div class="field center-horizontally">
      <input type="hidden" name="skills" id="skills">
      <input type="submit" value="Save changes" class="btn btn-blue">
    </div>
  </form>
</main>