<main class="job-list">
  <h2 class="job-list-title">
    <i class="material-icons joblist">
      list_alt
    </i>
    Job List
  </h2>
  {{#if vacancies.length}}
    {{#each vacancies}}
      <div class="job-background">
        <div class="job-vacancy"> 
            <i class="material-icons job">exit_to_app</i>
          <div class="box">
            <h3>{{company}}</h3>
            <p class="position">{{title}}</p>
          </div>
          <div class="box">
            <p class="label">
              Location
            </p>
            <p class="name">{{location}}</p>
          </div>
          <div class="box">
            <p class="label">
              Contract
            </p>
            <p class="name contract">{{contract}}</p>
          </div>
          <div class="box center-vertically">
            <a href="/job-vacancies/{{url}}" class="btn btn-info">
              More Info
            </a>
          </div>
        </div>
      </div>
    {{/each}}
  {{else}}
    <p>No Job Vacancies yet</p>
  {{/if}}
</main>