<div class="content-top job-vacancy container">
  <div class="box">
    <p class="label">Company</p>
    <p class="name">{{vacancy.company}}</p>
  </div>
  <div class="box">
    <p class="label">Location</p>
    <p class="name">{{vacancy.location}}</p>
  </div>
  <div class="box">
    <p class="label">Contract</p>
    <p class="name contract">{{vacancy.contract}}</p>
  </div>
  <div class="box">
    <p class="label">Salary</p>
    <p class="name">$ {{vacancy.salary}}</p>
  </div>
</div>

<div class="job-vacancy-container container">
  <main class="content">
    <h2>Job Description</h2>
    <div class="job-vacancy-description">
      {{{vacancy.description}}}
    </div>
  
  <a href="/job-vacancies/edit/{{vacancy.url}}" class="btn btn-blue edit-btn">Edit Job Vacancy</a>

  </main>
  <aside class="sidebar">
    <h2>Desirable Skills</h2>
    <ul class="skills">
      {{#each vacancy.skills}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </aside>
</div>